# Python
__pycache__/
*.py[cod]
*.so
.Python
build/
dist/
*.egg-info/

# Virtual Environment
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Data
/data/*.csv
/data/*.xlsx
/data/*.json

# Testing
.coverage
.pytest_cache/

# Reports and Figures
reports/figures/*
reports/analysis/*
!reports/figures/.gitkeep
!reports/analysis/.gitkeep

# Logs
*.log
